<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ddbd7e">  <td>21/03/13 10:39:49</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_open_the_browser.given_I_am_in_craigslist_org()[pri:1, instance:testCases.Test_open_the_browser@1329eff]">given_I_am_in_craigslist_org</td> 
  <td>main@171802996</td>   <td></td> </tr>
<tr bgcolor="d76f91">  <td>21/03/13 10:39:48</td>   <td>-1608</td> <td title="&gt;&gt;Base.setup()[pri:0, instance:testCases.Test_open_the_browser@1329eff]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@171802996</td>   <td></td> </tr>
<tr bgcolor="d76f91">  <td>21/03/13 10:39:52</td>   <td>2558</td> <td title="&lt;&lt;Base.tearDown()[pri:0, instance:testCases.Test_open_the_browser@1329eff]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@171802996</td>   <td></td> </tr>
<tr bgcolor="ddbd7e">  <td>21/03/13 10:39:51</td>   <td>1226</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_open_the_browser.then_I_enter_camera_on_the_search_box()[pri:2, instance:testCases.Test_open_the_browser@1329eff]">then_I_enter_camera_on_the_search_box</td> 
  <td>main@171802996</td>   <td></td> </tr>
</table>
